.SearchInput {
    display: flex;
    justify-content: center;
}

.SearchInput .InputSearch {
    margin-right: 2rem;
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    border: 2px solid #d65a31;
}